@page "/"

@using Fotos.App.Adapters
@using Fotos.App.Api.Types
@using Fotos.App.Components.Dialogs
@using Fotos.App.Features.Account
@using Fotos.App.Features.PhotoFolders
@using System.Collections.ObjectModel
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject SessionData SessionData

@attribute [Authorize]

<PageTitle>Fotos Folders</PageTitle>

@if (_loaded)
{
    <MudStack Row="true" AlignItems="AlignItems.Center" Class="mt-4" Justify="Justify.SpaceBetween">
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
            <MudIconButton id="up" Icon="@Icons.Material.Filled.ArrowUpward" OnClick="GotToParentFolder" Disabled="@(CurrentFolder.ParentId == Guid.Empty)" Size="Size.Small" />
            <MudText id="current-folder-name" Typo="Typo.h5">@CurrentFolder.Name</MudText>
            <MudIconButton id="current-folder-settings" Icon="@Icons.Material.Filled.Settings" OnClick="OpenCurrentFolderSettings" Size="Size.Small" />
        </MudStack>
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
            <div><MudTextField @bind-Value="_newFolder" Label="New folder" Variant="Variant.Text" Margin="Margin.Dense" ShrinkLabel Immediate /></div>
            <MudIconButton id="create-folder" Icon="@Icons.Material.Filled.Add" OnClick="CreateNewFolder" Disabled="@(string.IsNullOrWhiteSpace(_newFolder))" Size="Size.Small" />
        </MudStack>
    </MudStack>
    <MudDivider Class="pa-4 mt-2" />
    <MudStack id="folders" Row="true" Spacing="5" Wrap="Wrap.Wrap">
        @foreach (var folder in _childFolders)
        {
            <FolderItem Folder="folder" OnFolderChanged="GoToFolder" OnFolderRemoved="RemoveThisFolder" />
        }
    </MudStack>
    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="mt-8">
        <MudText Typo="Typo.h5">Albums</MudText>
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
            <div><MudTextField id="new-album-name" @bind-Value="_newAlbumName" Label="New album" Variant="Variant.Text" Margin="Margin.Dense" ShrinkLabel Immediate /></div>
            <MudIconButton id="create-album" Icon="@Icons.Material.Filled.Add" OnClick="CreateNewAlbum" Size="Size.Small" Disabled="@(string.IsNullOrWhiteSpace(_newAlbumName))" />
        </MudStack>
    </MudStack>
    <MudDivider Class="pa-4 mt-2" />
    <MudStack id="albums" Row="true" Spacing="5" Wrap="Wrap.Wrap">
        @foreach (var album in _childAlbums)
        {
            <AlbumItem Album="album" OnAlbumChanged="@(() => GoToAlbum(album.Id))" />
        }
    </MudStack>
}
<MudOverlay Visible="@(!_loaded)">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>
