@using Fotos.App.Adapters
@using Fotos.App.Components.Models
@using Fotos.App.Features.PhotoFolders;

@inject ListPhotos ListPhotos
@inject RemovePhoto RemovePhoto
@inject GetOriginalUri GetOriginalUri
@inject GetThumbnailUri GetThumbnailUri
@inject UpdatePhoto UpdatePhoto
@inject GetPhoto GetPhoto

<MudPopover Open=_showDetails Class="pa-4" OverflowBehavior="OverflowBehavior.FlipNever" Fixed
AnchorOrigin="Origin.CenterRight" TransformOrigin="Origin.TopRight">
    <MudStack id="details" Style="width: 400px">
        <MudStack Row AlignItems="AlignItems.Start" Class="pt-0">
            <MudTextField T="string" id="title" Typo="Typo.body2" @bind-Text="@_photo.Title" Margin="Margin.Dense" ValueChanged="PhotoRenamed" TextUpdateSuppression />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" OnClick="@(() => RemoveAPhoto(_photo))" Class="remove" Size="Size.Medium" />
            <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick=CloseDetails Size="Size.Medium" />
        </MudStack>
        <MudGrid>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full"  Typo="Typo.body2">Date taken</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.DateTaken</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Camera Brand</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.CameraBrand</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Camera Model</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.CameraModel</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Dimensions</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@($"{_photo.Metadata.Width}x{_photo.Metadata.Height}")</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Flash</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@(_photo.Metadata.IsFlash ? "Yes" : "No")</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Iso</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.Iso</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Quality</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.Quality</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Aperture</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.Aperture</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Focal Length</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@(_photo.Metadata.FocalLength) mm</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Exposure Time</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.ExposureTime</MudText></MudItem>
            <MudItem xs="4"><MudText Class="d-flex justify-start mud-width-full" Typo="Typo.body2">Lens</MudText></MudItem>
            <MudItem xs="8"><MudText Class="d-flex justify-end mud-width-full" Typo="Typo.body2">@_photo.Metadata.Lens</MudText></MudItem>
        </MudGrid>
    </MudStack>
</MudPopover>
<MudStack id="thumbnails" Row Wrap="Wrap.Wrap" Class="mt-12">

    @foreach (var thumbnail in _thumbnails)
    {
        <div class="thumbnail">
            <MudButton class="view" ondblclick="@(() => ViewPhoto(thumbnail))" OnClick="@(() => ShowDetails(thumbnail))">
                <MudImage src="@thumbnail.ThumbnailUri?.ToString()" alt="@thumbnail.Title" Width="200" Height="133" ObjectFit="ObjectFit.Contain" />
            </MudButton>
        </div>
    }
</MudStack>
<MudOverlay id="photo" @bind-Visible="_isPhotoDisplayed" DarkBackground AutoClose OnClosed="DismissPhoto">
    <MudImage src="@(_photo.OriginalUri?.ToString())" ObjectFit="ObjectFit.Contain" Style="max-height: 85vh" />
</MudOverlay>

